body {
    padding-bottom: $spacer * 40;
}

.page-header {
    margin-top: $spacer;
    margin-bottom: $spacer;
    border-bottom: $border-width solid $border-color;
    h1 {
        background-image:url('/img/drakkar-logo.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

.row {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.card {
    .card-header a {
        display: block;
        text-decoration: none;
    }
    .card-body {
        ul {
            margin-bottom: 0;
        }
    }
}

.tile {
    font-size: $font-size-lg;
    color: #ffffff;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid map-get($colors, "gray");
    background-color: map-get($colors, "gray");
    white-space: nowrap;
    &.tile-sm {
        font-size: $font-size-base;
        height: 50px;
        line-height: 50px;
    }
    &.tile-primary {
        border-color: map-get($theme-colors, "primary");
        background-color: map-get($theme-colors, "primary");
    }
    &.tile-primary-inverse {
        color: map-get($theme-colors, "primary");
        border-color: map-get($theme-colors, "primary");
        background-color: #ffffff;
    }
    &.tile-secondary {
        border-color: map-get($theme-colors, "secondary");
        background-color: map-get($theme-colors, "secondary");
    }
    &.tile-secondary-inverse {
        color: map-get($theme-colors, "secondary");
        border-color: map-get($theme-colors, "secondary");
        background-color: #ffffff;
    }
    &.tile-success {
        border-color: map-get($theme-colors, "success");
        background-color: map-get($theme-colors, "success");
    }
    &.tile-success-inverse {
        color: map-get($theme-colors, "success");
        border-color: map-get($theme-colors, "success");
        background-color: #ffffff;
    }
    &.tile-danger {
        border-color: map-get($theme-colors, "danger");
        background-color: map-get($theme-colors, "danger");
    }
    &.tile-danger-inverse {
        color: map-get($theme-colors, "danger");
        border-color: map-get($theme-colors, "danger");
        background-color: #ffffff;
    }
    &.tile-warning {
        border-color: map-get($theme-colors, "warning");
        background-color: map-get($theme-colors, "warning");
    }
    &.tile-warning-inverse {
        color: map-get($theme-colors, "warning");
        border-color: map-get($theme-colors, "warning");
        background-color: #ffffff;
    }
    &.tile-info {
        border-color: map-get($theme-colors, "info");
        background-color: map-get($theme-colors, "info");
    }
    &.tile-info-inverse {
        color: map-get($theme-colors, "info");
        border-color: map-get($theme-colors, "info");
        background-color: #ffffff;
    }
    >a {
        display: block;
        text-decoration: none;
        color: inherit;
    }
}

//blockquote.pending {
//    border-color: map-get($theme-colors, "warning");
//}
//
//blockquote.discarded {
//    border-color: map-get($theme-colors, "danger");
//}
//
//blockquote.selected {
//    border-color: map-get($theme-colors, "primary");
//}
//
//blockquote.curated {
//    border-color: map-get($theme-colors, "success");
//}
//
//.panel.publication {
//    .panel-title, .panel-body.abstract {
//        strong.hl {
//            font-weight: bold;
//            &.hh {
//                color: map-get($theme-colors, "primary");
//            }
//            &.vh {
//                color: map-get($theme-colors, "danger");
//            }
//        }
//    }
//}
//
//.panel-body.abstract h3 {
//    margin-top: 0;
//}
//
//.panel-body.abstract p.content {
//    text-indent: 2em;
//}
//
//.panel-body, .panel-footer {
//    *:last-child {
//        margin-bottom: 0;
//    }
//}
//
//.viewport {
//    overflow-y: auto;
//    margin-bottom: 1em;
//
//    &>div {
//        margin-top: 0;
//        margin-bottom: 0;
//    }
//}
//
//.form-group {
//    .form-group:last-child {
//        margin-bottom: 0;
//    }
//}
//
//.mappings {
//    .list {
//        &>p {
//            padding: 11px;
//            border: 1px solid map-get($theme-colors, "gray");
//            margin-bottom: 0;
//        }
//        .alignment {
//            .xy {
//                font-size: 0.8em;
//                fill: map-get($theme-colors, "gray-dark");
//            }
//            .bg {
//                fill: map-get($theme-colors, "gray");
//            }
//            a {
//                display: block;
//                color: map-get($theme-colors, "warning");
//                text-align: center;
//            }
//        }
//        &.human {
//            .alignment {
//                .hl {
//                    fill: map-get($theme-colors, "primary");
//                }
//            }
//        }
//        &.virus {
//            .alignment {
//                .hl {
//                    fill: map-get($theme-colors, "danger");
//                }
//            }
//        }
//        .panel:last-child {
//            margin-bottom: 0;
//        }
//    }
//}
//
//.hints {
//    overflow-x: hidden;
//    overflow-y: auto;
//    input {
//        margin: 0.5em auto 0.5em auto;
//        max-width: 98%;
//    }
//    table {
//        width: 100%;
//        margin-bottom: 0;
//        td {
//            &.hint {
//                cursor: pointer;
//                &.highlighted {
//                    background-color: map-get($theme-colors, "primary");
//                }
//            }
//        }
//    }
//}
//
//.overlay {
//    display: none;
//    position: relative;
//    .hints {
//        position: absolute;
//        z-index: 1000;
//        width: 100%;
//        margin-top: 0;
//        border: 1px solid map-get($theme-colors, "gray");
//        border-top: none;
//        background-color: #ffffff;
//        box-shadow: 0.381em 0.381em 0.618em 0px #ccc;
//    }
//}
