body {
    padding-bottom: $spacer * 40;
}

.page-header {
    margin-top: $spacer;
    margin-bottom: $spacer;
    border-bottom: $border-width solid $border-color;
    h1 {
        background-image:url('/img/drakkar-logo.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

.row {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.card {
    .card-header a {
        display: block;
        text-decoration: none;
    }

    &.description {
        .col.mapping > .row:first-child {
            margin-top: 0;
        }

        .col.mapping > .row:last-child {
            margin-bottom: 0;
        }
    }
}

.alignment {
    rect {
        fill: $gray-400;
        &.h {
            fill: $primary;
        }
        &.v {
            fill: $danger;
        }
    }
}
