body {
    padding-bottom: $spacer * 50;
}

.page-header {
    margin-top: $spacer;
    margin-bottom: $spacer;
    border-bottom: $border-width solid $border-color;
    h1 {
        background-image:url('/img/drakkar-logo.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

div.row, div.card, nav, form, fieldset {
    margin-bottom: $spacer;
}

div.row, div.card, nav, form, fieldset, ul, p, table, .alert {
    &:last-child {
        margin-bottom: 0;
    }
}

.card {
    .card-header a {
        display: block;
        text-decoration: none;
    }
    .card-title strong {
        font-weight: 400;
    }
}

p {
    strong.kv.v {
        color: $danger;
    }
}

.alignment {
    rect {
        fill: $gray-400;
        &.h {
            fill: $primary;
        }
        &.v {
            fill: $danger;
        }
    }
}
