parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#League\\Plates\\callback#'
            path: 'app/Extensions/Plates/*'
    reportUnmatchedIgnoredErrors: false
